body
{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin: 0;
}

br.tall
{
	display: block;
	margin-top: 4px;
	content: " ";
}

.spacer1
{
	width: 1px;
	height: 10px;
}

/*
* Header and Tabs
*/
#header, #headings
{
	width: 100%;
}

#header
{
	border-bottom: 2px solid #555555;
	background-color: #DDDDDD;
	font-size: 16px;
	border-spacing: 4px;
}

#headings>td:not(#notif):not(#closeSession)
{
	
	width: 180px;
}

#notif
{
	text-align: right;
	padding-right: 4px;
}

#closeSession
{
	width: 100px;

	text-align: right;
}

.tabButton, #bCloseSession
{
	width: 100%;

	background-color: #FFFFFF;
	border: 1px solid #000000;

	font-size: 16px;
}

.tabButton.select
{
	background-color: #DE6461;
	color: #FFFFFF;
}

#main
{
	width: 100%;
}

.tab
{
	margin: 4px 4px 4px 4px;
}

.tab.hidden
{
	display: none;
}

/*
* Tab Contents
*/

/* Event Tab */
#eventName
{
	width: 256px;
}

#defaultTeamPodSize
{
	display: none;
}

/* Players Tab */
#tabPlayers table, #tabPlayers tr
{
	width: 100%;
}

#playerListTable
{
	border-collapse: collapse;
	width: 100%;
}

#playerListTable td, #playerListTable th
{
	border: 1px solid #ddd;
	padding: 6px;
}

#playerListTable td:first-child
{
	border-right: 0;
}

#playerListTable td:last-child
{
	border-left: 0;
	text-align: right;
}

#playerListTable tr:nth-child(even)
{
	background-color: #f2f2f2;
}

#playerListTable tr:hover
{
	background-color: #ddd;
}

#playerListTable th
{
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	background-color: #4CAF50;
	color: white;
}

/* Rounds Tab */
#pairings
{
	border-collapse: collapse;
	width: 100%;
}

#pairings td, #pairings th
{
	border: 1px solid #ddd;
	padding: 6px;
}

#pairings tr:nth-child(even)
{
	background-color: #f2f2f2;
}

#pairings tr:hover
{
	background-color: #ddd;
}

#pairings th
{
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	background-color: #4CAF50;
	color: white;
}

.tReportResult, .bReportResult
{
	height: 100%;
}

/*
* Popups
*/

#editPlayer
{
	display: none;

	width: 260px;
	height: 150px;

	border: 2px solid #DEDEDE;

	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
}

#editPlayer>.popupHeader
{
	width: 100%;
	box-sizing: border-box;
	padding: 6px;

	background-color: #3B8386;
	text-align: center;
	color: #FFFFFF;
}

#editPlayer>.inner
{
	width: calc(100% - 16px);
	padding: 6px 8px 6px 8px;
	position: relative;
}

#cancelEdit
{
	position: absolute;
	top: 4px;
	right: 4px;

	width: 30px;
	height: 23px;
}