body
{
	margin: 0;
}

br.tall
{
	display: block;
	margin-top: 4px;
	content: " ";
}

.spacer1
{
	width: 1px;
	height: 10px;
}

/*
* Header and Tabs
*/
#header, #headings
{
	width: 100%;
}

#headings>td:not(#notif)
{
	
	width: 180px;
}

#notif
{
	text-align: right;
	padding-right: 4px;
}

.tabButton
{
	width: 100%;
}

.tabButton.select
{
	border: 2px solid #0000FF;
}

#main
{
	width: 100%;
}

.tab
{
	margin: 4px 4px 4px 4px;
}

.tab.hidden
{
	display: none;
}

/*
* Tab Contents
*/

/* Players Tab */
#tabPlayers>table, #tabPlayers>table>tr
{
	width: 100%;
}

#playerListTable
{
	width: 100%;
}

/*
* Popups
*/

#editPlayer
{
	display: none;

	width: 260px;
	height: 132px;

	border: 2px solid #DEDEDE;

	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
}

#editPlayer>.inner
{
	width: calc(100% - 16px);
	height: calc(100% - 12px);

	padding: 6px 8px 6px 8px;

	position: relative;
}

#cancelEdit
{
	position: absolute;
	top: 4px;
	right: 4px;

	width: 30px;
	height: 23px;
}